---
import Layout from "../layouts/Layout.astro";
import Wired from "../components/rssWired.astro";
import TechCrunch from "../components/rssTechCrunch.astro";
import TheVerge from "../components/rssTheVerge.astro";
---

<Layout page="Home">
  <main>
    <div class="feeds">
      <Wired />
      <TechCrunch />
      <TheVerge />
    </div>
  </main>
</Layout>
