---
import Layout from "../layouts/Layout.astro";
import Wired from "../components/rssWired.astro";
import ScheinerOnSecurity from "../components/rssSchneierOnSecurity.astro";
import KrebsOnSecurity from "../components/rssKrebsOnSecurity.astro";
---

<Layout page="Home">
  <main>
    <div class="feeds">
      <Wired />
      <KrebsOnSecurity />
      <ScheinerOnSecurity />
    </div>
  </main>
</Layout>
