---
import { XMLParser } from "fast-xml-parser";

const RSS = "https://techcrunch.com/feed/";

const res = await fetch(RSS);
const xml = await res.text();

const parser = new XMLParser();
const data = parser.parse(xml);

const items = data.rss.channel.item.slice(0, 3);

const articles = items.map(i => ({
  title: i.title,
  link: i.link,
  description: i.description
}));

console.log(articles);
---

<h3>TechCrunch</h3>

<ul>
  {articles.map(a => (
    <li>
      <a href={a.link}>{a.title}</a>
      <p>{a.description}</p>
    </li>
  ))}
</ul>