/*
███████╗ ██████╗ ███╗   ██╗████████╗███████╗
██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
█████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝                                        
*/  

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/*
██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗     ███████╗███████╗
██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║     ██╔════╝██╔════╝
██║   ██║███████║██████╔╝██║███████║██████╔╝██║     █████╗  ███████╗
╚██╗ ██╔╝██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║     ██╔══╝  ╚════██║
 ╚████╔╝ ██║  ██║██║  ██║██║██║  ██║██████╔╝███████╗███████╗███████║
  ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝╚══════╝
*/  

:root {
/* Colors */
  --accent-color: #e6edf3;
  --bg-color:#0d1117;
}

/*
██████╗ ███████╗██╗   ██╗
██╔══██╗██╔════╝██║   ██║
██║  ██║█████╗  ██║   ██║
██║  ██║██╔══╝  ╚██╗ ██╔╝
██████╔╝███████╗ ╚████╔╝ 
╚═════╝ ╚══════╝  ╚═══╝
*/



/* 
 ██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗         ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║         ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║         ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║         ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗    ███████║   ██║      ██║   ███████╗███████╗███████║
 ╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝
 */
 
* {
    background-color: var(--bg-color);
    color: var(--accent-color);
    font-family: "JetBrains Mono", monospace;
    display: flex;
    flex-direction: column;
    overflow-x: clip;
}

h1 {
    align-self: center;
}

.feeds h3 {
    border-top: dashed 1px;
    border-bottom: dashed 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.feeds li {
    margin: 5px;
}

.feeds li:hover {
    border: 1px solid;
}

.feeds li:hover a {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

title {
    visibility: hidden;
}

.footer {
    padding: 1%;
    display: flex;
    border-top: 1px solid var(--accent-color);
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.footer a:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.footer :nth-child(-n+2) {
    border-right: var(--accent-color) solid 2px;
    padding-right: 10px;
}