---
const { page } = Astro.props;
const title = "How tech influences society today";
---

<html>
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <h1>{title} | {page}</h1>
    <slot />
    <!-- children content displayed here -->
  </body>
</html>
