---
const { page } = Astro.props;
const title = "Tech & Society Monitor";
---

<html>
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://ovrflowdev.github.io/Tech-Society-Monitor/styles/global.css"
    />
  </head>
  <body>
    <h1>{title} | {page}</h1>
    <slot />
    <!-- children content displayed here -->

    <div class="footer">
      <span> Made with ♥️ by Ovrflow.dev for RSS @ HackClub !</span>
      <a href="mailto:potaaato.doodle894@passinbox.com">Email</a>
      <a
        href="https://github.com/Ovrflowdev/Tech-Society-Monitor/"
        target="_blank"
        rel="noopener noreferrer">GitHub Repo</a
      >
    </div>
  </body>
</html>
